$primary-color: #bbcf02;
$primary-color-half-opacity: #bbcf0280;
$primary-color-no-opacity: #bbcf0200;
$dark-contrast-color: #353535;
$dark-contrast-50: #eaeaea80;
$dark-contrast-0: #eaeaea00;
$dark-contrast-menu-gradient: #f4f4f4;
$light-contrast-color: #ffffff;
