@import "/src/assets/styles/variables";
@import "/src/assets/styles/resets";

@font-face {
  font-family: "PPRader";
  font-weight: 700;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPRader-Bold.otf)
    format("opentype");
}

@font-face {
  font-family: "PPRader";
  font-weight: 700;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPRader-BoldItalic.otf)
    format("opentype");
}

@font-face {
  font-family: "PPRader";
  font-weight: 400;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPRader-Regular.otf)
    format("opentype");
}

@font-face {
  font-family: "PPRader";
  font-weight: 400;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPRader-Italic.otf)
    format("opentype");
}

@font-face {
  font-family: "PPRader";
  font-weight: 100;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPRader-Thin.otf)
    format("opentype");
}

@font-face {
  font-family: "PPRader";
  font-weight: 100;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPRader-ThinItalic.otf)
    format("opentype");
}

@font-face {
  font-family: "PPSupplyMono";
  font-weight: 400;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPSupplyMono-Regular.otf)
    format("opentype");
}

@font-face {
  font-family: "PPSupplyMono";
  font-weight: 100;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPSupplyMono-Ultralight.otf)
    format("opentype");
}

@font-face {
  font-family: "PPSupplySans";
  font-weight: 400;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPSupplySans-Regular.otf)
    format("opentype");
}

@font-face {
  font-family: "PPSupplySans";
  font-weight: 100;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPSupplySans-Ultralight.otf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 900;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-Black.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 900;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-BlackItalic.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 800;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-ExtraBold.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 800;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-ExtraBoldItalic.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 700;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-Bold.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 700;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-BoldItalic.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 600;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-SemiBold.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 600;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-SemiBoldItalic.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 500;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-Medium.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 500;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-MediumItalic.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 400;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-Regular.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 400;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-Italic.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 300;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-Light.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 300;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-LightItalic.ttf)
    format("opentype");
}

/*
@font-face {
  font-family: "PPRader";
  font-weight: 700;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPRader-Bold.otf) format("opentype");
}

@font-face {
  font-family: "PPRader";
  font-weight: 700;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPRader-BoldItalic.otf) format("opentype");
}

@font-face {
  font-family: "PPRader";
  font-weight: 400;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPRader-Regular.otf) format("opentype");
}

@font-face {
  font-family: "PPRader";
  font-weight: 400;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPRader-Italic.otf) format("opentype");
}

@font-face {
  font-family: "PPRader";
  font-weight: 100;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPRader-Thin.otf) format("opentype");
}

@font-face {
  font-family: "PPRader";
  font-weight: 100;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPRader-ThinItalic.otf) format("opentype");
}

@font-face {
  font-family: "PPSupplyMono";
  font-weight: 400;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPSupplyMono-Regular.otf) format("opentype");
}

@font-face {
  font-family: "PPSupplyMono";
  font-weight: 100;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPSupplyMono-Ultralight.otf) format("opentype");
}

@font-face {
  font-family: "PPSupplySans";
  font-weight: 400;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPSupplySans-Regular.otf) format("opentype");
}

@font-face {
  font-family: "PPSupplySans";
  font-weight: 100;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/PPSupplySans-Ultralight.otf) format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 900;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-Black.ttf) format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 900;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-BlackItalic.ttf) format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 800;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-ExtraBold.ttf) format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 800;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-ExtraBoldItalic.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 700;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 700;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-BoldItalic.ttf) format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 600;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-SemiBold.ttf) format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 600;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-SemiBoldItalic.ttf)
    format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 500;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-Medium.ttf) format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 500;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-MediumItalic.ttf) format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 400;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 400;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-Italic.ttf) format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 300;
  font-style: normal;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-Light.ttf) format("opentype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 300;
  font-style: italic;
  src: url(http://interface.ufg.at/blog/resonating-selves/resources/RedHatDisplay-LightItalic.ttf) format("opentype");
}
*/

body {
  width: 100%;
}

a {
}

@mixin media-sm {
  @media screen and (min-width: 640px) {
    @content;
  }
}
@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
@mixin media-2xl {
  @media screen and (min-width: 1536px) {
    @content;
  }
}
